.containerLogin{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: #E5E5E5;
}
.designImg{
    width: 25vw;
    height: 56vh;
}
.boxImg{
    text-align: center;
}
.burgerQueen{
    font-size: 45px;
}